/node_modules
/dist
/build
/coverage
/logs
/tmp
/cache
/temp
/var
/www
/html
/css
/js
/images
/packages/*/node_modules
/packages/*/dist
/packages/*/build
/packages/*/coverage
/packages/*/logs
/packages/*/tmp
/packages/*/cache
/packages/*/temp
/packages/*/var
/packages/*/www
/packages/*/html
/packages/*/css